body {
    background-color: #363D54;
    font-family: 'Montserrat';
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.content {
    position: relative;
    flex: 0 1 auto;
    width: 40%;
    padding-top: 100px;
    /* animation: slide-right .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; */
}

h2 {
    color: white;
    font-size: 60px;
    line-height: 70px;
}

h4 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
}

.images {
    display: flex;
    flex-direction: row;
}

.left {
    flex: 0 1 auto;
}

.right {
    flex: 0 1 auto;
}

.size {
    height: 300px;
    width: 300px;
}

/* Frame Greed Dog */
.frameTopRoundedLeft {
    position: relative;
    border: rgba(255,255,255,.1) 5px solid ;
    border-radius: 80px 80px 0 0;
    animation: slide-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


/* Frame Yellow Dog */
.frameTopRoundedRight {
    position: relative;
    border: rgba(255,255,255,.1) 5px solid ;
    border-radius: 80px 80px 0 0;
    animation: slide-bottom 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    bottom: 50px;
    left: 50px;
}

/* Top elements animated */
@keyframes slide-bottom {
    0% {
        transform: translateY(-300px);
    }
    100% {
        transform: translateY(150px);
    }
}

.frameBottomRoundedLeft {
    position: relative;
    border: rgba(255,255,255,.1) 5px solid ;
    border-radius: 0 0 80px 80px;
    animation: slide-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.frameBottomRoundedRight {
    position: relative;
    border: rgba(255,255,255,.1) 5px solid ;
    border-radius: 0 0 80px 80px;
    animation: slide-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    left: 50px;
    bottom: 50px;
}

@keyframes slide-top {
    0% {
        transform: translateY(300px);
    }
    100% {
        transform: translateY(-100px);
    }
}

.imageOne {
    position: relative;
    background: url("../images/small/karsten-winegeart-BJaqPaH6AGQ-unsplash.jpg") no-repeat  center;
    background-size: cover;
    border-radius: 80px 80px 0 0;
    z-index: 5;
    animation: slide-bottom 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    top: -350px;
    right: -50px;
}


/* Orange DOG */
.imageTwo { 
    position: relative;
    background: url("../images/small/alvan-nee-brFsZ7qszSY-unsplash.jpg") no-repeat  center;
    background-size: cover;
    border-radius: 0 0 80px 80px;
    z-index: 5;
    animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    top: -350px;
    right: -50px;
}

/* Yellow DOG */
.imageThree {
    position: relative;
    background: url("../images/small/karsten-winegeart-Qb7D1xw28Co-unsplash.jpg") no-repeat  center;
    background-size: cover;
    border-radius: 80px 80px 0 0;
    z-index: 5;
    animation: slide-bottom 2.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    top: -400px;
    right: -100px;
}

/* Blue DOG */
.imageFour {
    position: relative;
    background: url("../images/small/karsten-winegeart-oU6KZTXhuvk-unsplash.jpg") no-repeat  center;
    background-size: cover;
    border-radius: 0 0 80px 80px;
    z-index: 5;
    animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    top: -400px;
    right: -100px;
}

.bar {
    display: flex;
    justify-content: space-between;
    position: relative;
    box-sizing: border-box;
    margin-top: 150px;
    z-index: 30;
    padding: 20px 60px;
    width: 900px;
    background:rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    backdrop-filter: blur(15px);
	animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-right {
    0% {
      transform: translateX(-600px);
    }
    100% {
      transform: translateX(0);
    }
  }



h3 {
    font-size: 20px;
    font-weight: 700;
    color: #FFF;
    
}

.button {
    background: #f94a82;
    border-radius: 8px;
    padding: 20px 45px;
    color: #ffffff;
    display: inline-block;
    font: inherit;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    border: none;
}