.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    margin-left: 10px;
 }

.icon {
    display: flex;
    align-items: center;
    padding: 0px 10px;
}


